<!DOCTYPE html>
<html>
  <head>
    <title>Okapi Visit Pusher Sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <style>
      .left-box {
        background: white;
        float: left;
        width: 50%;
      }
      .right-box {
        background: white;
        float: right;
        width: 50%;
      }
      .button {
        display: inline-block;
        padding: 15px 15px;
        font-size: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }

      .button:hover {background-color: #3e8e41}

      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

      .chat_log{ width: 100%; height: 300px; }
    </style>
  </head>
  <body>
  <div class="main">
    <h1>Okapi</h1>
    <h5 style="text-align:right">Your Id</h5>
    <p style="text-align:right" id="userid"></p>
  </div>
  <div class='left-box' id='left-box'>
    <h2>Friends</h2>
    <button class="button" id="visit1" value="1">1</button>
    <button class="button" id="visit2" value="2">2</button>
    <button class="button" id="visit3" value="3">3</button>
  </div>
  <div class='right-box' id='right-box'>
    <h2>Push</h2>
    <div>
      <textarea id="chatLog" class="chat_log" readonly></textarea>
    </div>
  </div>


  </body>
  <script>
      var mqttClient = mqtt.connect('ws://localhost:15675/ws');
      var userId = "<%= userid %>";
      var xhr;

      /* Mqtt Setup */
      mqttClient.on('connect',function(){
          mqttClient.subscribe('<%= userid %>');

      })

      mqttClient.on('message',function (topic,message) {
          if(topic == "<%= userid %>"){
              $('#chatLog').append(message+"\n");
          }
      })

      /* JQuery Setup */
      //name setup
      $('#userid').html(userId);

      //visit setup
      $('#visit1').click(function (e) {
          xhr = $.ajax({
              url: '/',
              type:'POST',
              data: {click : 1},
              success: function(msg){
                  alert( "Data Saved: " + msg );
              }
          });
          e.preventDefault();
          xhr.abort();
      });


      $('#visit2').click(function (e) {
          xhr = $.ajax({
              url: '/',
              type:'POST',
              data: {click : 2},
          });
          e.preventDefault();
          xhr.abort();
      })

      $('#visit3').click(function (e) {
          xhr = $.ajax({
              url: '/',
              type:'POST',
              data: {click : 3},
          });
          e.preventDefault();
      })




  </script>
</html>
